<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script">
    <script th:src="@{/javascript/accountMng.js}"></script>
</th:block>


<th:block layout:fragment="main">
    <div class="main-container">
        <div class="title-box">
            <span>계정 관리</span>
            <span class="text-base font-light">계정 검색, 추가, 삭제 및 정보수정</span>
        </div>
        <div>
            <div id="table-header" class="flex flex-row py-2 border-b-1 gap-2 items-center border-gray-200">
                <form class="flex-1 flex flex-row items-center gap-2"
                        th:action="@{/admin/accounts}" method="get">
                    <!-- 검색 바 -->
                    <th:block th:replace="~{fragment/components::searchBar}"></th:block>
                </form>
                <a href="/admin/accountGen" class="rectangle-button bg-(--primary-color)">계정 추가</a>
            </div>
            <th:block th:replace="fragment/account-table :: accountTable(${accountListDtos.getContent()},~{fragment/account-table::accountmng-action})"></th:block>

            <!--  paging  -->
            <ul id="page-select" th:with="
            pageNum=${accountListDtos.number},
            totalPages=${accountListDtos.totalPages},
            totalElements=${accountListDtos.totalElements},
            start=${(pageNum/maxPage)*maxPage+1},
            end=${(totalPages == 0) ? 1 : (start + (maxPage - 1) < totalPages ? start + (maxPage - 1) : totalPages)}"
            class="flex flex-row gap-2">
                <li class="page-item" th:classappend="${accountListDtos.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${pageNum - 1} + ')'" aria-label='Prev' class="page-link">
                        <span aria-hidden='true'>Prev</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${pageNum eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${accountListDtos.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${pageNum + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</html>