<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script">
    <script th:src="@{/javascript/accountGen.js}"></script>
</th:block>


<div layout:fragment="main" id="main">
    <h1>계정 생성 페이지</h1>
    <div>
        <select id="createOption" onchange=onCreateOptionChange(this)>
            <option value="">생성 방식 선택</option>
            <option value=1>단일 생성</option>
            <option value=2>다중 생성</option>
        </select>
    </div>
    <div id="single-create" class="hidden">
        <p>단일생성</p>
        <form id="single-create-form" th:action="@{/admin/accountGen/single}" method="post"
              th:object="${accountDto}">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
               class="text-red-600"></p>
            <input type="text" th:field="*{name}"/>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
               class="text-red-600"></p>
            <input type="text" th:field="*{email}"/>
            <p th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
               class="text-red-600"></p>
            <select th:field="*{role}">
                <option th:value="${null}">역할 선택</option>
                <option th:value="${T(com.blendonclass.constant.ROLE).STUDENT}">학생</option>
                <option th:value="${T(com.blendonclass.constant.ROLE).TEACHER}">교사</option>
            </select>
            <button type="submit">계정 생성</button>
        </form>
    </div>
    <div id="multi-create" class="hidden">
        <p>다중생성</p>
        <form id="multi-create-form" th:action="@{/admin/accountGen/multi}" method="post"
              enctype="multipart/form-data">
            <p>파일을 등록하세요(.csv 파일만 가능)</p>
            <p th:if="${fileLoadError!=null}" th:text="${fileLoadError}" class="text-red-600"></p>
            <input type="file" name="file">
            <button type="submit">계정 생성</button>
        </form>
    </div>
</div>
</html>