<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script">
    <script th:src="@{/javascript/accountMng.js}"></script>
    <script th:inline="javascript">
        $(function() {
            updateAccountTable([[${accountListDtos}]]);
            updatePaging([[${accountListDtos}]]);
        })
    </script>
</th:block>


<th:block layout:fragment="main">
    <div class="main-container">
        <div class="title-box">
            <span>계정 관리</span>
            <span class="text-base font-light">계정 검색, 추가, 삭제 및 정보수정</span>
        </div>
        <div class="flex-1 flex flex-col w-full">
            <div id="table-header" class="flex flex-row py-2 border-b-1 gap-2 items-center border-gray-200">
                <form id= "searchbar-form" class="flex-1 flex flex-row items-center gap-2">
                    <!-- 검색 바 -->
                    <th:block th:replace="~{fragment/components::searchBar}"></th:block>
                </form>
                <a href="/admin/accountGen" class="rectangle-button bg-(--primary-color)">계정 추가</a>
            </div>
            <th:block th:replace="~{fragment/account-table :: accountTable}"></th:block>
        </div>
        <!--  paging  -->
        <div id="page-select" class="flex flex-row gap-2 w-full">
            <p id="page-info" class="flex-1"></p>
            <button id="prev" class="page-button">
                이전
            </button>
            <button id="next" class="page-button">
                다음
            </button>
        </div>
    </div>
</th:block>
</html>