<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="main">
<div class="main-container">
    <div class="title-box">
        <span>공지 관리</span>
        <span class="title-sub">시스템 전체 공지를 관리합니다.</span>
    </div>
    <div id="account-list"
         class="flex flex-col w-full mt-4">
        <div id="table-header" class="flex flex-row py-2 border-b-1 border-gray-200">
            <a href="#" class="w-8 h-8 rounded-md bg-(--primary-color) text-white font-bold text-2xl text-center hover:opacity-80">+</a>
        </div>
        <table class="table-auto border-collapse text-left mt-2">
            <thead class="text-gray-300 font-light p-2">
            <tr>
                <th class="pl-2">번호</th>
                <th class="py-2 w-[60%]">제목</th>
                <th class="py-2">작성시간</th>
                <th class="py-2"></th>
            </tr>
            </thead>
            <tbody class="overflow-scroll">
            <tr class="odd:bg-gray-100 hover:bg-gray-300"
                th:each="announce,stats : ${sysAnnListDtos.getContent()}"
                th:object="${announce}">
                <td class="pl-2" th:text="${stats.index+1}"></td>
                <td th:text="*{title}"></td>
                <td th:text="*{#temporals.format(writeTime, 'yyyy/MM/dd HH:mm')}"></td>
                <td class="flex flex-row justify-end gap-2 p-2">
                    <div class="w-10 h-10 rounded-md bg-(--primary-color) flex items-center justify-center hover:opacity-80">
                        <a href="#" class="w-6 h-6 flex items-center justify-center">
                            <img src="/images/icons/icon_modify.png" class="min-w-6 h-6 invert">
                        </a>
                    </div>
                    <button class="w-10 h-10 rounded-md bg-red-400 flex items-center justify-center  hover:opacity-80 hover:cursor-pointer">
                        <img src="/images/icons/icon_delete.png" class="min-w-6 h-6 invert">
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="paging-container" class="flex justify-center">
            <ul id="page-select" th:with="
            pageNum=${sysAnnListDtos.number},
            totalPages=${sysAnnListDtos.totalPages},
            totalElements=${sysAnnListDtos.totalElements},
            start=${(pageNum/maxPage)*maxPage+1},
            end=${(totalPages == 0) ? 1 : (start + (maxPage - 1) < totalPages ? start + (maxPage - 1) : totalPages)}"
                class="flex flex-row gap-2">
                <li class="page-item" th:classappend="${sysAnnListDtos.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${pageNum - 1} + ')'" aria-label='Prev' class="page-link">
                        <span aria-hidden='true'>Prev</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${pageNum eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${sysAnnListDtos.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${pageNum + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</th:block>
</html>