<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>


<div layout:fragment="main" id="main">
    <h1>공지 관리 페이지</h1>
    <ul th:each="sysAnn : ${sysAnnListDtos.getContent()}">
            <li th:text="${sysAnn.id}"></li>
            <li th:text="${sysAnn.title}"></li>
            <li th:text="${sysAnn.writeTime}"></li>
    </ul>
</div>
</html>