<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="main">
    <div class="main-container rounded-border-box">
        <div class="title-box">
            <p>시스템 공지 작성</p>
        </div>
        <form method="post"
              th:object="${sysAnnDetailDto}"
              th:action="@{'/admin/announce/write'}"
              class="input-form">

            <input type="hidden" th:field="*{saId}"/>
            <input type="hidden" th:field="*{writeTime}"/>
            <div class="input-container">
                <label th:for="title">제목</label>
                <p class="text-red-400" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                <input class="input-area" type="text" th:field="*{title}">
            </div>
            <div class="input-container flex-1">
                <label th:for="context">내용</label>
                <p class="text-red-400" th:if="${#fields.hasErrors('context')}" th:errors="*{context}"></p>
                <textarea class="input-area flex-1" type="text" th:field="*{context}"></textarea>
            </div>
            <div class="button-box">
                <div class="flex-1 flex flex-row justify-start">
                    <a class="flex-none rectangle-button bg-(--primary-color)" href="/admin/announce">목록으로</a>
                </div>
                <button type="submit" class="rectangle-button bg-(--primary-color)">
                    저장
                </button>
                <button type="button" class="rectangle-button bg-red-400" th:onclick="redirectTo('/admin/announce')">
                    취소
                </button>
            </div>
        </form>
    </div>
</th:block>
</html>