<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script">
    <script th:src="@{/javascript/modal.js}"></script>
    <script th:inline="javascript">
        function openDeleteModal(id) {
            $('#modal-delete-form').attr('action','/admin/announce/delete?id='+id);
            openModal($('#modal-delete-announce'));
        }
    </script>
</th:block>

<th:block layout:fragment="main">
<div class="main-container">
    <div class="title-box">
        <span>공지 관리</span>
        <span class="title-sub">시스템 전체 공지를 관리합니다.</span>
    </div>
    <div id="account-list"
         class="flex-1 flex flex-col w-full mt-4">
        <div id="table-header" class="flex flex-row py-2 border-b-1 border-gray-200">
            <a href="/admin/announce/write" class="w-8 h-8 rounded-md bg-(--primary-color) text-white font-bold text-2xl text-center hover:opacity-80">+</a>
        </div>
        <div class="flex-1 flex-col flex">
        <table class="table-auto border-collapse text-left mt-2">
            <thead class="text-gray-300 font-light p-2">
            <tr>
                <th class="pl-2">번호</th>
                <th class="py-2 w-[60%]">제목</th>
                <th class="py-2">작성시간</th>
                <th class="py-2"></th>
            </tr>
            </thead>
            <tbody class="overflow-scroll">
            <tr class="odd:bg-gray-100 hover:bg-gray-300"
                th:each="announce,stats : ${sysAnnListDtos.getContent()}"
                th:object="${announce}">
                <td class="pl-2" th:text="${stats.index+1}"></td>
                <td th:text="*{title}"></td>
                <td th:text="*{#temporals.format(writeTime, 'yyyy/MM/dd HH:mm')}"></td>
                <td class="flex flex-row justify-end gap-2 p-2">
                    <div class="w-10 h-10 rounded-md bg-(--primary-color) flex items-center justify-center hover:opacity-80">
                        <a th:href="@{'/admin/announce/write?id='+*{id}}" class="w-6 h-6 flex items-center justify-center">
                            <img src="/images/icons/icon_modify.png" class="min-w-6 h-6 invert">
                        </a>
                    </div>
                    <button class="w-10 h-10 rounded-md bg-red-400 flex items-center justify-center  hover:opacity-80 hover:cursor-pointer"
                    th:onclick="openDeleteModal([[*{id}]])">
                        <img src="/images/icons/icon_delete.png" class="min-w-6 h-6 invert">
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div id="page-select" class="flex flex-row gap-2 w-full"
        th:with="totalElements=${sysAnnListDtos.TotalElements},
                 totalPages=${sysAnnListDtos.TotalPages},
                 number=${sysAnnListDtos.number},
                 size=${sysAnnListDtos.size},
                 numberOfElements=${sysAnnListDtos.numberOfElements},
                 start=${number * size + 1},
                 end=${number * size + numberOfElements}">
            <p id="page-info" class="flex-1" th:text="${'총 '+totalElements+' 개의 결과 중 '+start+'...'+end}"></p>
            <button id="prev" class="page-button" th:if="${number != 0}" th:onclick="redirectTo([[${'/admin/announce?page='+(number-1)}]])">
                이전
            </button>
            <button id="next" class="page-button" th:if="${number != (totalPages-1)}" th:onclick="redirectTo([[${'/admin/announce?page='+(number+1)}]])">
                다음
            </button>
        </div>
    </div>
</div>
<div id="modal-delete-announce" class="modal-container w-[400px] h-[320px]">
    <div class="modal-main">
        <div class="flex-1">
            <div class="flex">
                <div class="m-auto w-14 h-14 bg-red-400 rounded-full flex items-center justify-center">
                    <img class="w-8 h-8 invert mb-1" src="/images/icons/icon_warning.png" alt="경고 아이콘">
                </div>
            </div>
            <p class="font-bold my-8 text-center">
                해당 공지를 삭제하시겠습니까?
            </p>
        </div>
        <div class="button-box">
            <form id="modal-delete-form" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button class="rectangle-button bg-red-400 w-12">확인</button>
            </form>
            <button class="rectangle-button bg-(--primary-color) w-12" onclick="closeModal($('#modal-reset-classroom'))">취소</button>
        </div>
    </div>
</div>
<!-- 모달 표시 시 배경 필터 -->
<div id="background-overlay" onclick="closeAllModal()" class="fixed w-[100vw] h-[100vh] top-0 left-0 opacity-80 bg-gray-400 z-40 hidden"></div>
</th:block>
</html>