<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragment/board-default}">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>


<th:block layout:fragment="main">
    <div class="main-container">
        <div class="title-box">
            <p>과제</p>
            <p class="title-sub">과제를 확인하고, 제출합니다.</p>
        </div>
        <div class="flex-1 flex flex-row gap-4 overflow-auto">
            <!-- 과제 글 -->
            <div th:object="${assignmentShowDto}" class="flex-1 border-1 rounded-xl border-gray-300 p-4 flex flex-col gap-4">
                <div th:text="*{title}" class="font-bold text-2xl"></div>
                <p>
                    <b>작성자&nbsp</b>
                    <span th:text="*{writerName}"></span>
                </p>
                <div th:text="*{'제출 기한: '+#temporals.format(dueDate,'YYYY-MM-dd')}" class="text-red-400 font-bold text-xl"></div>
                <div class="bg-gray-200 h-[1px] w-full"></div>
                <div th:text="*{context}" class="flex-1"></div>
                <a th:href="*{fileUrl}" class="rectangle-button bg-(--primary-color)" download>첨부파일 다운로드</a>
                <div class="button-box items-center">
                    <th:block th:if="*{isWriter}">
                        <a th:href="@{'/board/assignment/write?id='+*{abId}+'&classroomId='+${classroomId}}" class="rectangle-button bg-(--primary-color)">수정</a>
                        <form method="post" th:action="@{'/board/assignment/delete?id='+*{abId}+'&classroomId='+${classroomId}}">
                            <button type="submit" class="rectangle-button bg-gray-500">삭제</button>
                        </form>
                    </th:block>
                    <th:block sec:authorize="hasRole('ROLE_STUDENT')">
                        <p th:if="${isSubmit != null}" class="text-bold text-green-400 font-bold">제출 완료!</p>
                        <p th:if="${isSubmit == null}" class="text-bold text-red-400 font-bold">미제출</p>
                        <a th:href="@{'/board/assignment/submit/write?id='+${assignmentShowDto.abId}+'&classroomId='+${classroomId}}"
                        class="rectangle-button bg-(--primary-color) button-hover">
                            <p th:if="${isSubmit==null}">제출하기</p>
                            <p th:if="${isSubmit!=null}">수정하기</p>
                        </a>
                    </th:block>
                </div>
            </div>
            <!-- 제출자 목록 -->
            <th:block sec:authorize="hasRole('ROLE_TEACHER')">
            <div class="rounded-xl bg-(--primary-color) w-[360px] p-4 justify-center flex flex-col gap-2 text-white overflow-auto">
                <p class="text-white font-bold text-2xl">제출자 목록</p>
                <div class="bg-white min-h-[1px] w-full"></div>
                <div id="submit-list" class="flex-1 flex flex-col gap-2 overflow-auto scrollbar-hide">
                    <div th:each="submit:${submitStudentListDtos}" th:object="${submit}">
                        <a id="detail" th:href="@{'/board/assignment/submit/detail?sbId='+*{sbId}}"
                           th:classappend="*{isSubmit?'':'pointer-events-none'}" class="flex flex-row gap-4">
                            <div class="flex-1">
                                <p th:text="*{name}"></p>
                                <p th:text="*{email}" class="text-gray-300 text-sm"></p>
                            </div>
                            <div th:if="*{isSubmit}" class="rectangle-button bg-green-400 w-16">
                                제출
                            </div>
                            <div th:unless="*{isSubmit}" class="rectangle-button bg-red-400 w-16">
                                미제출
                            </div>
                        </a>
                    </div>
                </div>
                </div>
            </th:block>
        </div>
    </div>
</th:block>
</html>