<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="accountTable">
    <table class="admin-table">
        <thead>
            <tr>
                <th>이름</th>
                <th>로그인 아이디</th>
                <th>이메일</th>
                <th>구분</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</th:block>

<th:block th:fragment="accountmng-action">
    <div class="square-button-10 bg-(--primary-color)">
        <a th:href="@{'/admin/modifyAccount?id=' + ${account.id}}" class="w-6 h-6 flex items-center justify-center">
            <img src="/images/icons/icon_modify.png" class="min-w-6 h-6 invert">
        </a>
    </div>
    <button class="square-button-10 bg-red-400"
            th:onclick="deleteAccount([[*{id}]])">
        <img src="/images/icons/icon_delete.png" class="min-w-6 h-6 invert">
    </button>
</th:block>


<th:block th:fragment="classroommng-action">
    <button class="square-button-10 bg-red-400">
        <img src="/images/icons/icon_delete.png" class="min-w-6 h-6 invert">
    </button>
</th:block>

<th:block th:fragment="classroom-modal-action">
    bbbb
</th:block>
</html>