<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>

<th:block th:fragment="button(onclick,iconSrc)">
    <button th:onclick="${onclick}" type="submit" class="w-8 h-8 rounded-md bg-(--primary-color) flex items-center justify-center hover:opacity-80">
        <img th:src="${'/images/icons/'+iconSrc}" class="min-w-4 h-4 invert">
    </button>
</th:block>
</html>