<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<header th:fragment="header" id="header" class="h-18 border-b-1 border-gray-300 flex items-center justify-center p-4">
    <!-- 메인 로고 -->
    <a id="logo-icon" href="/" class="flex flex-row items-center gap-2">
        <div class="flex items-center justify-center w-8 h-8 overflow-hidden">
            <img th:src="@{'/images/icons/'+${session.role.role.equals('ROLE_ADMIN')?'icon_gray.png':'icon_blue.png'}}" class="min-w-20 h-20 mt-3" alt="아이콘"/>
        </div>
        <span class="text-[20px] font-light text-(--primary-color)">BlendOnC</span>
    </a>

    <!-- 상단 프로필 -->
    <div id="profile-box" class="absolute right-0 flex flex-row justify-end items-center gap-2 mr-2">
        <div class="flex flex-col text-sm">
            <span ><b th:text="${session.name}"></b>&nbsp님</span>
            <span th:text="${session.email}" class="text-gray-400"></span>
        </div>
        <button id="profileBtn" class="w-12 h-12 rounded-full bg-gray-300 text-white font-bold flex items-center overflow-hidden border-1 hover:opacity-80">
        </button>
        <div id="dropdownMenu"
             class="hidden absolute top-[100%] right-0 mt-2 w-32 bg-white border border-gray-300 rounded shadow-md z-30">
            <a sec:authorize="!hasRole('ROLE_ADMIN')" href="/profile" class="block px-4 py-2 hover:bg-gray-100 text-sm">정보 수정</a>
            <a href="/logout" class="block px-4 py-2 hover:bg-gray-100 text-sm">로그아웃</a>
        </div>
    </div>

    <!-- 정보 수정 모달 -->
    <div id="update-info" class="modal w-[400px] h-[600px]">

    </div>
    <script>
        $(function() {
            const btn = document.getElementById("profileBtn");
            const menu = document.getElementById("dropdownMenu");

            btn.addEventListener("click", (e) => {
                e.stopPropagation();
                menu.classList.toggle("hidden");
            });

            document.addEventListener("click", (e) => {
                if (!menu.contains(e.target) && !btn.contains(e.target)) {
                    menu.classList.add("hidden");
                }
            });
        })
    </script>
</header>
</html>