#assignment{
    display:block;
    text-align: center;
}
#main{
    display: flex;
    justify-content: center;
}
#list{
    transform: translate(350px);
}
button{
    display: block;
    text-align: center;
}