:root {
    --primary-color: #0D65D3;
    --secondary-color: #7C3EFF;
    --text-white: white;
    --text-black: black;
    --base-font: "Noto Sans KR";
}

* {
    font-family: var(--base-font), sans-serif;
}