<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/css/assignment.css">
</head>
<body>
    <div id="main" th:object="${assignmentShowDto}">
            <div id="title">
                <h2 class="title">제목</h2>
            </div>
            <input type="text" name="title" style="width:230px;" th:value="${assignmentShowDto.title}">
            <div id="context">
                <h2 class="context">내용</h2>
            </div>
            <textarea name="context" cols="30" rows="20" th:text="${assignmentShowDto.context}"></textarea>
            <div id="dueDate">
                <h2 class="dueDate">제출기한</h2>
            </div>
            <input type="date" name="dueDate" th:value="${assignmentShowDto.dueDate}" readonly>
            <div id="file">
                <h2 class="file">파일첨부</h2>
            </div>
            <input type="file" name="fileUrl"><br>
    </div>
</body>
</html>