<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">강의 상세</title>
    <!--    script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>   <-->
    <script src="https://cdn.tailwindcss.com"></script>

    <th:block layout:fragment="css"></th:block>
</head>
<body class="bg-gray-50 text-gray-800">
<div layout:fragment="main" class="container mx-auto px-4 py-6">

    <!-- 강의 ID (선택 표시) -->
    <div class="text-sm text-gray-500 mb-2">
        상세 ID: <span th:text="${lessonDetail.ldId}"></span> |
        소단원 ID: <span th:text="${lessonDetail.lessonId}"></span>
    </div>

<!--    강의 넘기기-->
    <a th:if="${prevLessonId != null}"
       th:href="'/lesson/continue/' + ${prevLessonId}"> 이전 강의</a>

    <a th:if="${nextLessonId != null}"
       th:href="'/lesson/continue/' + ${nextLessonId}">다음 강의 </a>

    <!-- 강의 영상 -->
    <div class="mb-6">
        <iframe width="750" height="450"
                th:src="${lessonDetail.mediaUrl}"
                title="강의 영상" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>

    <!-- 강의 설명 -->
    <div class="bg-white p-4 rounded shadow">
        <h3 class="text-lg font-semibold mb-2">강의 설명</h3>
        <p class="text-gray-700 whitespace-pre-line" th:text="${lessonDetail.context}">
            강의 설명 내용
        </p>
    </div>

</div>
</body>
</html>