<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="css/default.css">
    <style>
        #main{
            display : flex;
            gap:100px;
            text-align:center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div id="main">
      <div id="notice">
        <h4 id="1">공지사항</h4>
        <a class="notice" th:href="@{'/post/notice?id='+${classroomId}}">+</a>
          <div th:each="notice : ${noticeShowDtos.getContent()}">
              <a id="noticeDetail" th:href="@{'/post/notice/detail?id='+${notice.nbId}}" th:text="${notice.title}"></a>
          </div>
      </div>
      <div id="QnA">
        <h4 id="2">QnA</h4>
        <a class="question" th:href="@{'/post/question?id='+${classroomId}}" >+</a>
          <div th:each="question : ${questionShowDtos.getContent()}">
                <a id="answer" th:href="@{'/post/answer?id='+${question.id}}" th:text="${question.title}"></a>
          </div>
      </div>
      <div id="task">
        <h4 id="3">과제</h4>
        <a id="as" th:href="@{'/post/task?id='+${classroomId}}">+</a>
          <div th:each="assignment : ${assignmentShowDtos.getContent()}">
              <a class="task" th:href="@{'post/task/detail?abId='+${assignment.AbId}}+'&classroomId='+${classroomId}" th:text="${assignment.title}"></a>
          </div>
      </div>
    </div>
</body>
</html>