<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <div id="main">
      <div id="notice">
        <h4 id="1">공지사항</h4>
        <a href="/post/notice">+</a>
      </div>
      <div id="QnA">
        <h4 id="2">QnA</h4>
        <a href="/post/QnA">+</a>
      </div>
      <div id="task">
        <h4 id="3">과제</h4>
        <a href="/post/task">+</a>
      </div>
    </div>
</body>
</html>