<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<head>
    <title>학생 홈</title>
</head>

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script">
    <script src="/javaScript/getSysAnn.js"></script>
    <script src="/javascript/modal.js"></script>
</th:block>

<th:block layout:fragment="main">
    <div class="main-container">
    <div class="rounded-lg mt-12 flex justify-center">
        <img src="/images/StudentMain.png" alt="Student Home 이미지" class="max-w-full h-auto object-contain" />
    </div>

    <div class="flex-1 flex justify-between gap-6">

        <div class="bg-white rounded-lg shadow-lg w-[600px] min-h-[240px]">
                <div class="bg-(--primary-color) w-full px-6 py-3 rounded-t-lg">

                    <div class="flex items-center space-x-2">
                        <img src="/images/study.png" alt="학습 아이콘" class="w-7 h-7" />
                        <h2 class="text-white text-xl font-semibold tracking-widest">학습</h2>
                    </div>
                </div>

            <div class="p-6 flex-1">
                <div th:if="${lastLesson != null}" class="flex gap-6 items-center">

                    <!-- 왼쪽: 강의 이미지 -->
                    <div class="flex-[1]">
                        <img src="/images/lecture.png"
                             alt="강의 이미지"
                             class="w-full h-auto object-cover rounded-lg shadow" />
                    </div>

                    <!-- 오른쪽: 텍스트 및 버튼 -->
                    <div class="flex-[2] flex flex-col justify-between gap-2">
                        <!-- 소단원 제목 -->
                        <p th:text="${lastLesson.lessonTitle}"
                           class="text-lg font-bold text-gray-800"></p>

                        <!-- 진도율 바 -->
                        <div class="w-full bg-gray-200 rounded-full h-3.5">
                            <div th:style="|width: ${lastLesson.completeRate}%|"
                                 class="bg-[var(--primary-color)] h-3.5 rounded-full"></div>
                        </div>
                        <p class="text-sm text-gray-600"
                           th:text="|${lastLesson.completeRate}%|"></p>

                        <!-- 버튼 -->
                        <div class="flex gap-3 mt-2 justify-end">
                            <a th:if="${lastLesson.completeRate == 100}"
                               th:href="@{/student/lesson/restart/{id}(id=${lastLesson.lessonId}, grade=${selectedGrade}, subject=${selectedSubject})}"
                               class="bg-white text-[var(--primary-color)] font-semibold px-5 py-2 rounded-full shadow hover:opacity-80">
                                다시하기
                            </a>
                            <a th:href="@{/student/lesson/continue/{id}(id=${lastLesson.lessonId}, grade=${selectedGrade}, subject=${selectedSubject})}"
                               class="bg-[var(--primary-color)] text-white font-semibold px-5 py-2 rounded-full shadow hover:opacity-80">
                                이어하기
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="bg-white rounded-lg shadow-lg flex-1 flex flex-col">
            <div class="bg-blue-600 w-full px-6 py-4 rounded-t-lg">
                <div class="flex items-center space-x-2">
                    <img src="/images/alarm.png" alt="알람 아이콘" class="w-6 h-6" />
                    <h2 class="text-white text-xl font-semibold tracking-widest">알람</h2>
                </div>
            </div>
            <div class="grid grid-cols-4 px-6 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700 bg-gray-50">
                <div class="text-center col-span-3">메시지</div>
                <div class="text-center col-span-1">등록일</div>
            </div>
            <div class="px-6 py-2 space-y-3 overflow-y-auto flex-1">
                <th:block th:each="alarm : ${alarmListDtos}">
                    <div class="grid grid-cols-4 border-b border-dotted pb-2">
                        <div class="text-center text-gray-800 hover:text-gray-500 text-sm font-medium col-span-3">
                            <a th:if="${!alarm.isSystem}" th:text="${alarm.message}" th:href="@{${alarm.alarmUrl}}">알림 내용</a>
                            <button th:if="${alarm.isSystem}" th:onclick="getSysAnn([[${alarm.alarmUrl}]])" th:text="${alarm.message}"></button>
                        </div>
                        <div class="text-center text-sm text-gray-500 col-span-1">
                            <span th:text="${#temporals.format(alarm.alarmTime, 'yyyy-MM-dd (E)')}"></span>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    </div>
    <div id="modal-show-announce" class="modal-container w-[600px] h-[600px]">
        <div class="modal-main gap-4">
            <div class="font-bold text-3xl">
                공지 : <p id="title" class="inline"></p>
            </div>

            <div id="context" class="flex-1 text-black text-lg p-4 bg-gray-200 rounded-border-box"></div>
            <div class="button-box">
                <button type="button" onclick="closeModal($('#modal-show-announce'))" class="rectangle-button bg-red-400">확인</button>
            </div>
        </div>
    </div>
    <!-- 모달 표시 시 배경 필터 -->
    <div id="background-overlay" onclick="closeAllModal()" class="fixed w-[100vw] h-[100vh] top-0 left-0 opacity-80 bg-gray-400 z-40 hidden"></div>
</th:block>
</html>
